@media screen and (max-width: 600px) {
    body{
        /* max-width: 600px; */
        *{
            margin: 0 auto;
        }
      
       
    }
    header{
        /* border: 2px solid turquoise; */
        width: 90%;
        /* height: 90%; */
        padding: 10px;
        /* padding: 20px; */
    }
    .banner-container{
        padding: 10px;
    }
    .banner-container .banner-title{
        font-size: 2rem;
    }
    .input-feild{
        flex-direction: column;
    }
    .input-feild input{
        width: 250px;
        
    }
    button{
        width: 260px;
    }
    .popular-tours{
        flex-direction: column;
        padding: 10px;
        
    }
    .popular-tours-text{
        width: 90%;
        padding-right: 0;
    }
    .popular-tours-text-title{
        font-size: 1.5rem;
    }
    .primary-descriptions{
        width: 220px;
        /* width: 70%; */
    }
    .primary-btn{
        width: 160px;
        height: 50px;
        text-align: center;
    }
    .popular-tours-image{
        width: 100%;
        margin-top: 20px;
    }
    /* choose your destination section responsive  */
    .destination{
        margin-top: 10px;
        padding: 10px;
    }
    .destination-header{
        margin-top: 20px;
    }
    .destination-header h1{
        font-size: 1.2rem;
    }
    .destination-header p{
        width: 300px;
    }
    .destination-image{
       grid-template-columns: 1fr;
    }
    .destination-image img{
        width: 100%;
        object-fit: cover;
    }
    .destination-images-1{
        width: 100%;
        /* border: 2px solid tan; */
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    
    }
    .destination-images-2{
        /* border: 2px solid firebrick; */
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    
    }
    .destination-images-3{
        width: 100%;
        grid-column: 1/span 1;
        grid-row: 3/span 1;
    }
    .destination-images-4{
       grid-column: 1/span 1; 
       grid-row: 4/span 1;
       width: 100%;
    }
    .destination-images-5{
        grid-column: 1/span 1;
        grid-row: 5/span 1;
       
    }
    .destination-images-6{
        grid-column: 1/span 1;
        grid-row: 6/span 1;
        width: 100%;
    }
    .destination-images-7{
        grid-column: 1/span 1;
        grid-row: 7/span 1;
    }
    /* why choose us section  */
    .services{
        margin-top: 10px;
        padding: 10px;

    } 
    .services-header h2{
        font-size: 1.4rem;
    }
    .services-header p{
        width: 280px;
    }
    .services-card{
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    .services-card-1{
        grid-column: 1/span 1;
        padding: 10px;
    }
    .services-card-2{
        grid-column: 1/span 1;
        padding: 10px;

    }
    .services-card-3{
        grid-column: 1/span 1;
        padding: 10px;
    }
    /* perfect place section  */
    .perfect-place{
        flex-direction: column;
        padding: 10px;
        gap: 15px;
        margin: 10px 0;
    }
    .perfect-place-container{
        width: 90%;
    }
    .perfect-place-container h1{
        font-size: 1.25rem;
        line-height: 30px;
    }
    .perfect-place-container ul li{
        font-weight: 400px;
        padding-right: 10px;
    }
    .perfect-place-video{
        width: 95%;
    }
    .perfect-place-video video{
        width: 100%;
    }
    .perfect-place-container h1{
        margin: 0;
    }
    /* newsletter section  */
    .newsletter-container{
        flex-direction: column;
        padding: 20px;
    }
    .newsletter-box input{
        /* width: 300px; */
        width: 93%;
    }
    .newsletter-box button{
        /* width: 340px; */
        width: 100%;
    }
    .newsletter-box{
        width: 85%;
        padding: 20px;
        /* margin-left: 5px; */
    }
    .newsletter-box-image{
        width: 100%;
    }
    .save-up{
        width: 50%;
        height: 50px;
        padding-top: 5px;
    }
    .save-up p{
        font-size: 1rem;
    }
    .save-up h5{
        font-size: 1rem;
    }
                  /* footer section responsive */
    footer{
        padding: 30px;
    margin-top: 30px;
    width: 80%;
    }
    .footer-header{
        width: 60%;
        font-size: 0.75rem;
        justify-content: center;
        align-items: center;
    }
    .footer-content p{
        margin-top: 20px;
    }
    .footer-logos .fa-brands{
        width: 15%;
        margin-bottom: 40px;
    }
}